<h1>
  Welcome to {{ title }}!
</h1>
<hr>
<nav mat-tab-nav-bar mat-align-tabs="center">
  <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    <h3>
      <mat-icon>{{link.icon}}</mat-icon> {{link.label}}
    </h3>
  </a>
</nav>
<hr>
<router-outlet></router-outlet>
<hr>
<h3>
  Employee Management System consuming bunch of RESTful APIs
  <br><br>
  PS: - If you still use SOAP, better take a REST.
</h3>
<img width=" 160" alt="EMS Logo" src="assets/logo/emslogobnw.png">
<h3>
  <a
    href="https://embedwistia-a.akamaihd.net/deliveries/cc0bfbe043832f5901cba1439bb57595789b56f9.jpg?image_crop_resized=1280x720">Terms
    of service</a><br>
  <a href="http://linkedin.com/in/patel-rut">Rut Patel - Profile</a><br>
  <a href="https://mail.google.com/mail/?view=cm&fs=1&to=rut.patel@collabera.com&su=Query regarding EMS AngulaRest">Send
    email to Rut Patel</a><br>
  <a href="http://github.com/darkerror96">License of EMS AngulaRest</a><br>
</h3>
<h2><b>Crafted by ®™</b></h2>